* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(66, 66, 66);
}
/*-------------------------------header------------------------------------------*/
.kopf{
    display: flex;
    position: sticky;
    background-color: rgb(44, 44, 44);
    top: 0;
    left: 0;
    width: 100%;  
    padding-left: 50px;
    padding: 50px;
    align-items: center;
    height: 100px;
    z-index: 999;
}
.infos{
    width: 40%;
    font-size: 1.5rem;
    color: white;
    justify-self: left;
}
.nav_bar{
    width: 60%;
    height: 100px;
    padding: 20px;
    color: white;
    align-items: center;
    justify-self: right;
}
.nav_list{
    font-size: 1.4rem;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items:end;
    list-style: none;
    flex-direction: row;
}
/*-------------------------------MAIN START/ABOUT/Page1------------------------------------------*/
.about-container{
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 100px);
}
.about-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.5em;
    color: white;
}
.name{
    color: red;
/*-------------------------------SUBLINE------------------------------------------*/
}
.subheader-container{
    width: 100%;
    text-align: center;
}
.sub-heading .line {
    border: 1px solid red;
    opacity: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*-------------------------------ABOUT ME------------------------------------------*/
.about-me-container{
    display: flex;
    height: calc(100vh - 101px);
    background-color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-container{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.profile {
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: rgb(66, 66, 66) ;
    width: 70%;
    min-width: 400px;
    max-width: 600px;
    height: 80%;
    border-radius: 60px;
    text-align: center;
}
.image-container{
    display: flex;
    grid-column: 1 / span 2;
    background-color: rgb(256,256,256,0.5);
    border: 1px solid red;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}
.profile-image{
    font-size: 1400%;
    color: rgb(34, 25, 25);
}
.profile-text{
    margin-top: 50px;
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: 1.5em;
    color: white;
    text-align: left;
}
.icons-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr);
    padding-top: 50px;
    padding-left: 50px;
    width: 55%;
    height: 90%;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.fa-brands{
    font-size: 400%;
}
/*-------------------------------PROJECTS------------------------------------------*/
.project-container{
    height: calc(100vh - 101px);
    width: 100%;
    background-color: rgb(66, 66, 66) ;
}